body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  background: linear-gradient(180deg, #0f172a, #020617);
  color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  background: #020617;
  padding: 30px 40px;
  border-radius: 16px;
  width: 350px;
  box-shadow: 0 0 40px rgba(0,0,0,0.6);
  text-align: center;
}

h1 {
  margin-bottom: 15px;
}

.alarm-box {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 15px;
}

input, button {
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
}

input {
  width: 120px;
  text-align: center;
}

button {
  background: #4f46e5;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #4338ca;
}

.hidden {
  display: none;
}

/* WORDLE GRID */

#grid {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  gap: 8px;
  justify-content: center;
  margin: 20px 0;
}

.row {
  display: grid;
  grid-template-columns: repeat(5, 55px);
  gap: 6px;
}

.tile {
  width: 55px;
  height: 55px;
  border-radius: 10px;
  border: 2px solid #334155;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
}

/* COLORS */

.green {
  background: #22c55e;
}

.yellow {
  background: #eab308;
}

.gray {
  background: #475569;
}

#feedback {
  min-height: 24px;
}